---
import * as CONTENT from "../pages/content";
---

<!-- Hero section -->
<header
  class="mx-auto py-8 px-5 max-h-[90vh] md:max-h-[70vh] max-w-3xl w-[95vw]"
>
  <article class="flex justify-between">
    <div class="rounded-full border-primary self-end shadow-2xl md:w-1/3 w-20">
      <img
        src="/profile.jpg"
        alt="profile_picture"
        class="object-cover w-full h-full md:w-1/2 lg:w-24 rounded-full grayscale-[0] md:grayscale-[50] hover:grayscale-0"
      />
    </div>

    <div
      class="text-right md:text-center whitespace-nowrap md:w-1/3 md:relative"
    >
      <div
        class="md:absolute md:left-1/2 md:top-1/2 md:-translate-x-1/2 md:-translate-y-1/2"
      >
        <h1 class="text-2xl md:text-3xl">{CONTENT.name}</h1>
        <h3 class="text-lg">{CONTENT.designation}</h3>
        <h5 class="text-sm">{CONTENT.location}</h5>
      </div>
    </div>

    <div class="text-right self-end hidden md:block md:w-1/3">
      <h6 class="text-sm text-text/70">{CONTENT.pronouns}</h6>
      <a href={CONTENT.website} target="_blank" class="hover:text-blue-300">
        {CONTENT.website}
      </a>
    </div>
  </article>
</header>
